* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-size: 100%;
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    height: auto;
}
.UploadHover:hover {
    background-color: #FF2288;
  }
.GoProHover:hover{
    color: #FF2288;
}
.search{
    display: flex; 
}
.MagnifyinGlass{
    margin-left:  -10%;

}
.sectionAside {
    display: flex;
    flex-direction: column;
    background-color: black;  
}
.sectionAside p{
    color: white;
    padding: 15px;

}
.sectionAside div{
    display: flex;
    align-items: center;
}
.sectionAside div:hover {
    background-color: #FF2288;
  }
.section1{
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    height: auto;
}
.Filtres{
    display: flex;
    align-items: center;
}
.section2{
    display: flex;   
}
.section2 article{
    display: flex;
    flex-direction: column;   
}
.section3{
    display: flex;   
}

.section3 article{
    display: flex;
    flex-direction: column;
}
article {
    max-width: 25%;
}

.load{
    display: flex;
    justify-content: center;
}
.top{
    display: flex;
    justify-content: space-around;
}
.topview p{
    color: #d8d8d8;
}

.section4{
    display: flex;
    justify-content: space-between;
    max-width: 95%;

}
.section4 article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section4 h3{
    font-size: 12px;
}
.section4 p{
    color: #d8d8d8;
    font-size: 12px;


}
.section4 h4{
    border-radius: 0px;
    border: solid #D8D8D8;
    background-color: #D8D8D8;   
}
.section4 img{
    max-width: 70%;
    height: 50px;

}
.footerAll{
    display: flex;
    justify-content: space-around;
}
.footer1, .footer2, .footer3,.footer4  {
    display: flex;
    flex-direction: column;
}

.footeIcon{
    display: flex;
}
.grid{
    display: grid;
    grid-template-columns: 15% 80%;
    align-items: center;
    gap: 30px ;
    grid-template-areas:
    "sectionAside nav"
    "sectionAside section1"
    "sectionAside section2"
    "sectionAside section3"
    "none load"
    "none topview "
    "none section4"
    "none footerAll"
    "footerIcon nine"
}
.sectionAside{
    grid-area: sectionAside ;
}
.nav{
    grid-area: nav ;
}
.section1{
    grid-area: section1 ;
}
.section2{
    grid-area: section2 ;
}
.section3{
    grid-area: section3 ;
}
.load{
    grid-area: load ;
}
.topview {
    grid-area: topview ;
}
.section4{
    grid-area: section4 ;
}
.footerAll{
    grid-area: footerAll ;
}
.footerIcon{
    grid-area: footerIcon ;
}






